In [9]:
import pandas as pd
import altair as alt
from ipywidgets import interact
from ipywidgets.embed import embed_minimal_html

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-11-13/malaria_deaths.csv')
#df.head()
df.columns = ['Country', 'Code','Year','Death_Rate']
df['Year'] = pd.to_datetime(df['Year'], format='%Y')
df.head()

       Country Code       Year  Death_Rate
0  Afghanistan  AFG 1990-01-01    6.802930
1  Afghanistan  AFG 1991-01-01    6.973494
2  Afghanistan  AFG 1992-01-01    6.989882
3  Afghanistan  AFG 1993-01-01    7.088983
4  Afghanistan  AFG 1994-01-01    7.392472

In [7]:
data = df.copy()
def make_altair_chart(country):
    chart = alt.Chart(data[data['Country'] == country]).mark_line().encode(
        x = alt.X('Year:T', timeUnit='year',  axis = alt.Axis(title = 'Year') ,),
        y = alt.Y('Death_Rate:Q', axis = alt.Axis(title = 'Death Rate',), ),    
    ).properties(
        title = f'{country}'.capitalize(),
        width = 500,
        height = 300,
    )
    
    return chart

In [10]:
g =interact(make_altair_chart, country = sorted(df['Country'].unique()), );

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Albania', 'Algeria', 'American â€¦